body {
    background-color: rgb(197, 197, 197);
    margin: 0 0;
    font-family: "Papyrus", "Courier New", monospace;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 0;
    border: 2px black solid;
    border-width: 0 4px 8px 12px;
    width: 60%;
}

.cake-names {
    list-style-type: square;
    margin: 20px;
}

.cake-names>li>a {
    text-decoration: none;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.main-image, .cake-image {
    border: 2px black solid;
    border-width: 0 4px 8px 12px;
    margin-bottom: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
}

li:hover {
    color: red;
}

.cake-image {
    height: 25%;
    width: 30%;
}

.cake-description {
    margin: 20px 25px;
    text-align: end;
}

h2, h3 {
    margin: 15px;
    text-align: center;
}

.cake-ingredients {
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    padding: 0 0;
}

ol {
    list-style-type: square;
}